









/* Responsive */
@media screen and (min-width: 426px) and (max-width: 640px) {
  #header_button {
    width: 46%;
  }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  #header_button {
    width: 30%;
  }

  .order_button {
    width: 28%;
    margin-left: 32%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  #header_button {
    width: 26%;
  }

  .order_button {
    width: 26%;
    margin-left: 34%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  #header_button {
    width: 24%;
  }

  .order_button {
    width: 20%;
    margin-left: 38%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
  #header_button {
    width: 20%;
  }

  .order_button {
    width: 20%;
    margin-left: 40%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1641px) {
  #header_button {
    width: 16%;
  }

  .order_button {
    width: 16%;
    margin-left: 40%;
  }
}
@media screen and (min-width: 1642px) and (max-width: 1920px) {
  #header_button {
    width: 12%;
  }

  .order_button {
    width: 16%;
    margin-left: 40%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #333333;
  color: white;
  width: 100%;
  height: 170px;
}

.footer_all {
  padding-left: 20px;
}

#footer_logo {
  width: 100px;
  margin: 18px 0 18px 0;
}

.footer_ico {
  display: flex;
  align-items: baseline;
}

footer .fa-utensils {
  font-size: 11px;
  margin-right: 10px;
}

footer .fa-hands-helping {
  font-size: 8px;
  margin-right: 10px;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  margin: 4px 0;
}

footer a {
  text-decoration: none;
  color: white;
}

/* Responsive */
@media screen and (min-width: 600px) and (max-width: 940px) {
  footer {
    align-items: unset;
  }

  .footer_all {
    display: flex;
    justify-content: space-around;
    padding: 46px 10px 0 0px;
  }

  #footer_logo {
    width: 115px;
    margin: 18px 0 18px 40%;
  }
}
@media screen and (min-width: 941px) and (max-width: 1330px) {
  footer {
    align-items: unset;
  }

  .footer_all {
    display: flex;
    justify-content: space-around;
    padding: 46px 10px 0 0px;
  }

  #footer_logo {
    width: 136px;
    margin: 18px 0 18px 43%;
  }
}
@media screen and (min-width: 1331px) and (max-width: 1440px) {
  footer {
    align-items: unset;
  }

  .footer_all {
    display: flex;
    justify-content: space-around;
    padding: 46px 10px 0 0px;
  }

  #footer_logo {
    width: 155px;
    margin: 18px 0 18px 45%;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1920px) {
  footer {
    align-items: unset;
  }

  .footer_all {
    display: flex;
    justify-content: space-around;
    padding: 46px 10px 0 0px;
  }

  #footer_logo {
    width: 155px;
    margin: 18px 0 18px 45%;
  }
}
.header_index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .back_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .fa-arrow-left {
  font-size: 20px;
  color: black;
}

.header_logo1 {
  width: 160px;
  margin: 10px 70px;
}

.header_logo2 {
  width: 160px;
  margin: 10px 36px;
}

.header_img_french2 {
  background-image: url("images/restaurants/french2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
}

.header_img_gout2 {
  background-image: url("images/restaurants/gout2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
}

.header_img_enchantee2 {
  background-image: url("images/restaurants/enchantee2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
}

.header_img_sens2 {
  background-image: url("images/restaurants/sens2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 222px;
}

.header_localization {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background: #e6e6e6;
  border-top: solid 3px #d1d1d1;
}
.header_localization .fa-map-marker-alt {
  font-size: 15px;
  margin-right: 18px;
}
.header_localization p {
  font-size: 14px;
  font-weight: 600;
}

.header_top_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  width: 100%;
  padding-bottom: 40px;
}

.header_bot_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_bot_info p {
  margin: 0;
}

#header_top_title {
  font-size: 20px;
  font-weight: 700;
  width: 64%;
  padding: 35px 0 15px 0;
  text-align: center;
}

#header_bot_title {
  color: #777777;
  font-weight: 500;
  width: 92%;
  padding: 0 0 14px 0;
  text-align: center;
}

/* Responsive */
@media screen and (min-width: 332px) and (max-width: 374px) {
  /* index.html */
  .header_logo1 {
    margin: 10px 90px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  /* index.html */
  .header_logo1 {
    margin: 10px 110px;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  /* index.html */
  .header_logo1 {
    margin: 10px 120px;
    width: 170px;
  }

  #header_top_title {
    width: 77%;
    padding: 35px 0 15px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* index.html */
  .header_logo1 {
    width: 180px;
    margin: 10px 268px;
  }

  .header_localization .fa-map-marker-alt {
    font-size: 17px;
  }

  .header_localization p {
    font-size: 16px;
  }

  #header_top_title {
    width: 100%;
    padding: 35px 0 15px 0;
  }

  #header_bot_title {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /* index.html */
  .header_logo1 {
    width: 200px;
    margin: 10px 340px;
  }

  .header_localization .fa-map-marker-alt {
    font-size: 18px;
  }

  .header_localization p {
    font-size: 18px;
  }

  #header_top_title {
    width: 100%;
    font-size: 18px;
    padding: 35px 0 15px 0;
  }

  #header_bot_title {
    width: 100%;
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .header_logo1 {
    width: 210px;
    margin: 10px 340px;
  }

  .header_localization .fa-map-marker-alt {
    font-size: 18px;
  }

  .header_localization p {
    font-size: 18px;
  }

  #header_top_title {
    width: 100%;
    font-size: 18px;
    padding: 35px 0 15px 0;
  }

  #header_bot_title {
    width: 100%;
    font-size: 18px;
  }
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav_title {
  font-size: 20px;
  font-weight: 600;
  margin: 35px 0 20px 0;
}

nav .item {
  display: flex;
  align-items: baseline;
  background: #f3f3f3;
  border-radius: 20px;
  margin: 0 0 25px 0;
  padding: 6px 0 4px 0px;
  width: 90%;
  box-shadow: 3px 3px 10px 1px #d4d4d4;
}
nav .item:hover {
  background: #ebe0ec;
  box-shadow: 10px 10px 10px 1px #d4d4d4;
}

nav .number {
  margin-left: -13px;
  background: #9356dc;
  color: white;
  font-size: 13px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  padding: 5px 2px 5px 10px;
}

nav .item:hover .item_ico1 {
  color: #9356dc;
}

nav .item:hover .item_ico2 {
  color: #9356dc;
}

nav .item:hover .item_ico3 {
  color: #9356dc;
}

nav .item_ico1 {
  font-size: 18px;
  color: grey;
  margin: 0 22px 0 24px;
}

nav .item_ico2 {
  font-size: 16px;
  color: grey;
  margin: 0 20px 0 22px;
}

nav .item_ico3 {
  font-size: 14px;
  color: grey;
  margin: 0 20px 0 22px;
}

nav .choice {
  font-size: 14px;
  font-weight: 600;
}

/* Responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    width: 46%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  nav .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    width: 46%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
  nav .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
    width: 32%;
  }
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("./fonts/Shrikhand-Regular.ttf") format("truetype");
  font-weight: 400;
}
body {
  border-right: solid 1px #acacac;
}

h1 {
  font-family: "Roboto-Regular";
  font-size: 15px;
  font-weight: 600;
  margin: -4px 0 0 0;
  padding: 15px 0 0 10px;
}

h2 {
  font-family: "Shrikhand-Regular";
  font-size: 21px;
  font-weight: 500;
  margin: 0 0 0 0;
}


p {
  font-family: "Roboto-Regular";
  font-size: 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  margin-top: 54px;
  padding: 25px 0 36px 0;
}

#section_title {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 40px 0;
}

section a {
  text-decoration: none;
  color: black;
}

section figure {
  position: relative;
  width: 280px;
  margin: 22px 0 0 0;
}

section .restaurant_margin1 {
  margin: 0 0 0 0;
}

section .restaurant_margin2 {
  margin: 22px 0 0 0;
}

section .item_new {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 2%;
  left: 70%;
  font-size: 12px;
  font-weight: 600;
  background: #99E2D0;
  color: #16a072;
  padding: 5px 8px 5px 8px;
}

section .index_gout {
  background-image: url("images/restaurants/gout.jpg");
}

section .index_enchantee {
  background-image: url("images/restaurants/enchantee.jpg");
}

section .index_french {
  background-image: url("images/restaurants/french.jpg");
}

section .index_sens {
  background-image: url("images/restaurants/sens.jpg");
}

section .index_img {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 147px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

section figcaption {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 3px 3px 20px 1px #d6d6d6;
  width: 100%;
  height: 72px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -4px;
}

section figcaption p {
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 5px 0 0 10px;
}

section figcaption .fa-heart {
  font-size: 26px;
  margin: 16px 30px 0 0;
}

/* Responsive */
@media screen and (min-width: 490px) and (max-width: 655px) {
  section figure {
    width: 428px;
  }
}
@media screen and (min-width: 656px) and (max-width: 856px) {
  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #section_title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section .restaurant_margin2 {
    margin: 0 0 0 0;
  }
}
@media screen and (min-width: 857px) and (max-width: 1024px) {
  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #section_title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section figure {
    width: 360px;
  }

  section .restaurant_margin2 {
    margin: 0 0 0 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1330px) {
  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #section_title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section figure {
    width: 438px;
  }

  section .restaurant_margin2 {
    margin: 0 0 0 0;
  }
}
@media screen and (min-width: 1331px) and (max-width: 1640px) {
  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #section_title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section figure {
    width: 585px;
  }

  section .restaurant_margin2 {
    margin: 0 0 0 0;
  }

  section .item_new {
    left: 80%;
  }
}
@media screen and (min-width: 1641px) and (max-width: 1920px) {
  section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #section_title {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  section figure {
    width: 635px;
  }

  section .restaurant_margin2 {
    margin: 0 0 0 0;
  }

  section .item_new {
    left: 80%;
  }
}
main {
  background: #f0f0f0;
  margin: -46px 0 0 0;
  padding-bottom: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

main .restaurant_name {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 0 0 15px;
}

main .restaurant_name .fa-heart {
  font-size: 26px;
  padding: 0 34px 0 0;
}

main .container_title {
  font-size: 14px;
  margin: 14px 0 0 0;
  padding: 20px 0 3px 15px;
}







main .ingredients {
  font-size: 13px;
  margin: 0 0 0 0;
  padding: 5px 0 12px 7px;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .ingre_prize {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-radius: 0 15px 15px 0;
  margin: 15px 0 0 0;
  padding: 0 0 26px 0;
  height: 38px;
  background-color: white;
}

main .prize {
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 0 0;
  padding: 36px 15px 0 8px;
}

main .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  overflow: hidden;
  margin: 15px 0 0 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 0%;
}

main .fa-check-circle {
  color: white;
}

/*# sourceMappingURL=style.css.map */
